p {
  font-family: Lato;
}
.panel-click{
  min-height: 15rem;
  cursor:pointer !important
}
 .card{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6ex2nxPzrIy4pXDtPa2JHqZn5mOLykVJxmg&usqp=CAU);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}